.button {
  cursor: pointer;

  display: inline-block;

  box-sizing: border-box;
  padding: 0.625rem;

  font-size: 0.875rem;
  text-align: center;

  border: none;
  border-radius: 0.3125rem;

  transition: all 0.2s;
}

.ghost {
  color: var(--black);
  background: none;
  border: 0.0625rem solid var(--gray-light);
}

:is(.primary, .ghost:hover) {
  color: var(--white);
  background-color: var(--primary);
}

:is(.primary svg, .ghost:hover svg) {
  fill: var(--white);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.arrow {
  display: inline-block;
  margin-left: 10px;
}

.down svg {
  transform: rotate(90deg);
  transition: all 0.2s;
}
