.firstLevel {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;
  align-items: center;

  font-size: 1.125rem;
  font-weight: 500;
}

:is(
    .firstLevel:hover,
    .firstLevelActive,
    .thirdLevel:hover,
    .thirdLevelActvive
  ) {
  color: var(--primary);
}

:is(.firstLevel:hover svg, .firstLevelActive svg) {
  fill: var(--primary);
}

.secondBlock {
  margin-top: 15px;
  margin-left: 12px;
  padding-left: 32px;
  border-left: 1px solid #dfdfdf;
}

.secondLevelBlockOpened:last-child {
  margin-bottom: 20px;
}

.secondLevel {
  margin-bottom: 10px;

  font-size: 0.75rem;
  font-weight: 300;
  line-height: 133%;
  text-transform: uppercase;
}

.thirdLevel {
  display: block;

  margin-bottom: 10px;

  font-size: 0.875rem;
  font-weight: 500;
  line-height: 135%;
}

:is(.secondLevel, .thirdLevel) {
  cursor: pointer;
  color: var(--gray-dark);
}
